*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../image/antique-book-bindings-books-1005324.jpg");
    background-size: 100%;
}
header{
     background-color: black;
    
}
.navigation{
    float: right;
    margin-top: 30px;
    margin-right: 50px; 
    /* border: 1px solid red; */
}
.navigation  a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin: 5px;
   padding: 10px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo{
width:10%;
height:10%;
/* border: 1px solid red; */
}
  /* /navbar stylng end*  */ 

/* aside styling start */
.side{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    margin: 150px;
    /* border: 1px solid red; */
    float: left;
}

.side li {
     list-style-type: disc;
     padding: 18px;
}

/* aside styling end */

/* login styling start */
.my_login{
    padding-top: 20px;
    margin-left: 1300px;
    color: rgb(8, 4, 0);
    border: 2px solid red;
    background-color: beige;
    
   
    /* background-color: beige; */
   
}
.my_login1
{
    padding-top: 50px;
    padding-right: 50px;
}